---
import BaseLayout from "../../layouts/BaseLayout.astro"
import { getCollection, getEntryBySlug } from "astro:content"

export async function getStaticPaths() {
  const posts = await getCollection("blog")
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<BaseLayout title={post.data.title}>
  <main class="py-paddingPage flex flex-col items-center gap-12">

    <article class="w-full max-w-3xl flex flex-col gap-6">
      <h1 class="text-h1 text-brand-wine">{post.data.title}</h1>
      <p class="text-neutralTech-500 text-sm">{post.data.date}</p>

      <div class="prose prose-neutral max-w-none">
        <Content />
      </div>
    </article>

  </main>
</BaseLayout>
