@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased font-sans transition-colors duration-base;
}

*, *::before, *::after {
  @apply antialiased;
}

a {
  @apply transition-colors duration-base ease-linear;
}

button,
a {
  @apply touch-manipulation;
}

button:focus-visible,
a:focus-visible {
  @apply outline-none shadow-focus;
}

img {
  @apply select-none;
}
