@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased font-sans transition-colors duration-base;
}

a {
  @apply transition-colors duration-100 ease-linear;
}

button:focus,
a:focus {
  @apply outline-none shadow-focus;
}
