---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Luiza Gusmão — Portfolio">
  <h1 class="text-4xl font-bold text-purple-600">
    Tailwind funcionando!
  </h1>

  <p class="mt-4 text-lg">
    Ambiente inicial configurado com sucesso.
  </p>
</BaseLayout>
