---
import BaseLayout from "../layouts/BaseLayout.astro"
import SectionTitle from "../components/SectionTitle.astro"
---

<BaseLayout title="Home">
  <main class="py-paddingPage">
    <SectionTitle 
      title="A Professional Overview of My Engineering Journey"
      subtitle="This platform introduces my work in quality engineering, automation, and product development — a clear path through my experience, solutions, and the systems I build"
    />
  </main>
</BaseLayout>
