---
const { title, subtitle, class: className, ...rest } = Astro.props

const titleClasses =
  "text-h2 md:text-h1 font-semibold text-brand-wine dark:text-brand-beige transition-colors duration-base"

const subtitleClasses =
  "text-body md:text-h4 text-neutralTech-700 dark:text-neutralTech-200 transition-colors duration-base"
---

<div class={`flex flex-col gap-1 ${className || ""}`} {...rest}>
  {title && (
    <h2 class={titleClasses}>
      {title}
    </h2>
  )}

  {subtitle && (
    <p class={subtitleClasses}>
      {subtitle}
    </p>
  )}
</div>
